.last-section-bg-blue {
  background-color: #072348;
  padding-bottom: 80px;
  min-height: 100vh;
  height: auto;
}

.last-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px 0px 80px;
}

.last-section-text > h1 {
  margin-bottom: 0px;
  font-weight: bolder;
}

.last-section-text > p {
  color: white;
  font-weight: bold;
}

.last-section-text p:nth-child(4) {
  margin-top: 20px;
  margin-bottom: 0px;
}

.last-section-text p:nth-child(5) {
  margin-top: 0px;
  margin-bottom: 20px;
}

.last-section-text > small {
  color: white;
}